<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundEngin</title>
</head>
<body>
    <form id="f_file">
    <input onchange="click_event" type="file" id="file_id">클릭하세요!</input>    
    </form>

</body>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('my_response', function(msg) {
            $('#log').append('<p>Received: ' + JSON.stringify(msg) + '</p>');
        });
        $('form#emit').submit(function(event) {
            socket.emit('my_event', {data: $('#emit_data').val()});
            return false;
        });
    });
</script>
<script>
const click_event=(event)=>{
console.log(event.target.id)
alert(
event+"을 선택하셨습니다.")

}
const file = document.querySelectorAll("#f_file");

 


</script>
</html>